DISCORD_TOKEN=
RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
WSS_URL=wss://api.avax-test.network/ext/bc/C/ws
DEEPSEEK_API_KEY=
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/teleagent
CONTRACT_ADDRESS=
FASTAPI_URL=http://localhost:8001/query
CHROMA_HOST=localhost
CHROMA_PORT=8000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=teleagent
